<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BilancioFenealgest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <BilancioFenealgest.Properties.Settings>
            <setting name="Header" serializeAs="String">
                <value>Rlst</value>
            </setting>
            <setting name="ModelloProvinciale" serializeAs="String">
                <value>ProvincialeRLST.xlt</value>
            </setting>
            <setting name="ModelloRegionale" serializeAs="String">
                <value>Regionale.xlt</value>
            </setting>
            <setting name="MaxColPrimaColonna" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxColSecondaColonna" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="MaxRowPrimaColonna" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxrowSecondaColonna" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="SerachType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CreateFromTemplate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModelloStampaTemplate" serializeAs="String">
                <value>ProvincialeRLST.xlt</value>
            </setting>
            <setting name="NomeFileDaSalvare" serializeAs="String">
                <value>rendicontoRlst.xls</value>
            </setting>
            <setting name="TestoProprietario" serializeAs="String">
                <value>Rlst di:</value>
            </setting>
            <setting name="FileFreeTemplate" serializeAs="String">
                <value>template.xml</value>
            </setting>
            <setting name="InventarioScriviTipoInventario" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InventarioScriviIntestazioniTipoInventario" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InventarioColonnaIniziale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InventarioRigaIniziale" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InventarioDisegnaOrizzontalmente" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InventarioRigheFraTipiInventario" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="InventarioFeneal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisibilityTabPreventivo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisibilityTabStatoPatrimoniale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaiseChangeDataEvent" serializeAs="String">
                <value>False</value>
            </setting>
	<setting name="HidedenContoCommmandText" serializeAs="String">
                <value>Conto nascosto</value>
            </setting>
            <setting name="HiddenContoVisible" serializeAs="String">
                <value>False</value>
            </setting>
	<setting name="IsFeneal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRlst" serializeAs="String">
                <value>True</value>
            </setting>
        </BilancioFenealgest.Properties.Settings>
    </userSettings>
</configuration>